{
    email randomemail@email.com 
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

https://donkey.feature-tour.com {
    reverse_proxy django:8000
}

https://horsey.feature-tour.com {
    reverse_proxy frontend:3000
}